# Ignore common OS files
.DS_Store
Thumbs.db
desktop.ini

# Ignore editor/IDE-specific files and folders
.vscode/
.idea/
*.suo
*.user
*.config.user
*.iml

# Ignore build/temporary directories and files (if applicable)
/dist/
/build/
/tmp/
*.log
*.temp
*.cache

# Node.js specific (if you use npm for dependencies/scripts)
/node_modules/

# Ignore Sass/SCSS cache files
.sass-cache/

