*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2980b9;
    font-family: "Poppins", sans-serif;
}

form{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-height: 600px;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: red;
    padding: 40px;
    background: rgba(0,0,0,.8);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
   
}